:root {
  --background: #171A1D;
  --text: #eee;
  --mapWidth: 772px;
  --mapHeight: 1518px;
  --fontStack: Palatino, Georgia, serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fontStack);
}

.wrapper {
  width: 100%;
  background: var(--background);
}
